New Article Page

<form method="POST" action='/articles'>
    
    <label for="title"><h2>Title</h2></label><input type="text" name="title" id="title"><br>
    
    <label for="content"><h2>Content</h2></label><input type="text" name="content" id="content">
    
    <input type= "submit">
</form>